
body {
    background-image: url(../image/fondo2.jpg) ;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #6B240C;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: #FFB000;
}

.submenu-catalogo {
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: #994D1C;
    display: none;
}

.menu-horizontal li:hover .submenu-catalogo {
    display: block;
}

.submenu-catalogo > li > a {
    display: block;
    color: rgb(155, 95, 5);
    text-decoration: none;
    padding: 15px;
}

.submenu-catalogo > li:hover {
    background-color: #FFF9BF;
}