body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header .menu-horizontal {
    background: white;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .Logo {
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background: yellow;
    border-radius: 5px;
}

.hero img {
    width: 100%;
    height: auto;
    height: 250px;
}

.contenido {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.contenido .texto {
    width: 50%;
}

.contenido .imagen img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 350px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background: lightblue;
}

.galeria img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: white;
    padding: 20px;
}

footer a {
    margin: 0 15px;
    text-decoration: none;
    color: blue;
}
